@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="mainController as main">
    <div ng-view></div>

</div>


@section Scripts{
    @*<script type="text/javascript">
            /******************************************
             -	PREPARE PLACEHOLDER FOR SLIDER	-
             ******************************************/

            var revapi;
            jQuery(document).ready(function () {
                console.log("mic check ng");
                revapi = jQuery("#rev_slider").revolution({
                    sliderType: "standard",
                    sliderLayout: "auto",
                    delay: 9000,
                    navigation: {
                        arrows: { enable: true }
                    },
                    gridwidth: 1230,
                    gridheight: 500
                });
            });	/*ready*/
        </script>*@
    <script type="text/javascript">

        (function () {
            "use strict";

            angular.module(APPNAME)
                .config(["$routeProvider", "$locationProvider", function ($routeProvider, $locationProvider) {

                    $routeProvider.when('/',
                    {
                        templateUrl: '/Assets/Themes/js/features/home/templates/main/mainHomePage.html',
                        controller: 'homeController',
                        controllerAs: 'home'
                    });

                    //$routeProvider.when('/',
                    //{
                    //    templateUrl: '/Assets/Themes/bringpro/js/features/backoffice/templates/jobs/jobsIndex.html',
                    //    controller: 'jobsController',
                    //    controllerAs: 'job'
                    //}).when('/jobs/',  //This will redirect to create mode
                    //{
                    //    templateUrl: 'Assets/Themes/bringpro/js/features/backoffice/templates/jobs/jobsForm.html',
                    //    controller: 'jobsFormController',
                    //    controllerAs: 'main'
                    //}).when('/jobs/:id',  //This will route to edit mode
                    //{
                    //    templateUrl: 'Assets/Themes/bringpro/js/features/backoffice/templates/jobs/jobsForm.html',
                    //    controller: 'jobsFormController',
                    //    controllerAs: 'main'
                    //}).when('/users',
                    //{
                    //    templateUrl: 'Assets/Themes/bringpro/js/features/backoffice/templates/users/adminUserIndex.html',
                    //    controller: 'adminUserController',
                    //    controllerAs: 'admin'
                    //})


                    $locationProvider.html5Mode(false).hashPrefix('');
                }]);

        })();

        (function () {
            "use strict"
            angular.module(APPNAME)
            .controller("mainController", MainController)

            MainController.$inject = [];
            function MainController() {
                var vm = this;
                vm.message = "Hello World";

            }
        })();


    </script>
    <script src="~/Assets/Themes/js/features/home/controllers/mainTabsController.js"></script>
}