
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--breadcrumb start-->
<div class="breadcrumb-wrapper">
    <div class="container">
        <h1>Login or Register</h1>
    </div>
</div>
<!--end breadcrumb-->

<div class="space-60"></div>
<div class="container" ng-controller="registerController as reg">
    <div class="row">
        <div class="col-md-6">
            <div class="sky-form-login">
                <form id="userAccountForm" name="userAccountForm" class="form-horizontal" ng-submit="reg.onCreateUserSubmit(userAccountForm.$valid)" novalidate>
                    <h3 class="text-left"><i class="fa fa-user"></i>Create new account with bannedLA</h3>

                    <div class="form-group" ng-class="{'has-error': userAccountForm.firstName.$invalid && !userAccountForm.firstName.$pristine}">
                        <div class="fg-line">
                            <label class="fg-label col-md-3">First Name</label>
                            <div class="col-md-9">
                                <input type="text" class="input-sm form-control fg-input" id="firstName" name="firstName" ng-model="reg.newUserInfo.firstName" required>
                            </div>
                            <small ng-show="userAccountForm.firstName.$invalid && !userAccountForm.firstName.$pristine && userAccountForm.firstName.$error.required" class="help-block">Please enter your first name.</small>
                        </div>
                    </div>
                    <div class="form-group fg-float" ng-class="{'has-error':userAccountForm.lastName.$invalid && !userAccountForm.lastName.$pristine}">
                        <div class="fg-line">
                            <label class="fg-label col-md-3">Last Name</label>
                            <div class="col-md-9">

                                <input type="text" class="input-sm form-control fg-input" id="lastName" name="lastName" ng-model="reg.newUserInfo.lastName" required>
                            </div>

                            <small ng-show="userAccountForm.lastName.$invalid && !userAccountForm.lastName.$pristine && userAccountForm.lastName.$error.required" class="help-block">Please enter your last name.</small>
                        </div>
                    </div>
                    <div class="form-group fg-float" ng-class="{'has-error': userAccountForm.phoneNumber.$invalid && !userAccountForm.phoneNumber.$pristine}">
                        <div class="fg-line">
                            <label class="fg-label col-md-3">Phone</label>
                            <div class="col-md-9">

                                <input type="text" class="input-sm form-control fg-input" id="phoneNumber" name="phoneNumber" ng-maxlength="10" ng-pattern="reg.phoneRegex" ng-model="reg.newUserInfo.phone" required>
                            </div>
                            <small ng-show="userAccountForm.phoneNumber.$invalid && !userAccountForm.phoneNumber.$pristine && userAccountForm.phoneNumber.$error.required" class="help-block">Please enter a phone number.</small>
                            <small ng-show="userAccountForm.phoneNumber.$error.maxlength || userAccountForm.phoneNumber.$error.pattern" class="help-block">Enter a valid phone number.</small>
                        </div>
                    </div>

                    <div class="form-group fg-float" ng-class="{'has-error': userAccountForm.emailAddress.$invalid && !userAccountForm.emailAddress.$pristine}">
                        <div class="fg-line">
                            <label class="fg-label col-md-3">Email Address</label>
                            <div class="col-md-9">

                                <input type="text" class="input-sm form-control fg-input" id="emailAddress" name="emailAddress" ng-model="reg.newUserInfo.email" required>
                            </div>
                            <small ng-show="userAccountForm.emailAddress.$invalid && !userAccountForm.emailAddress.$pristine" class="help-block">Please enter a valid email address.</small>
                        </div>
                    </div>

                    <div class="form-group fg-float" ng-class="{'has-error': userAccountForm.passwordInput.$invalid && !userAccountForm.passwordInput.$pristine}" required>
                        <div class="fg-line">
                            <label class="fg-label col-md-3">Password</label>
                            <div class="col-md-9">

                                <input type="password" class="input-sm form-control fg-input" ng-pattern="reg.regex" id="passwordInput" name="passwordInput" ng-minlength="6" ng-maxlength="15" ng-model="reg.newUserInfo.password">
                            </div>
                            <small ng-show="userAccountForm.passwordInput.$invalid && !userAccountForm.passwordInput.$pristine && userAccountForm.passwordInput.$error.pattern" class="help-block">Passwords must be at least 6 characters. Passwords must have at least one non letter or digit character. Passwords must have at least one digit ('0'-'9'). Passwords must have at least one uppercase ('A'-'Z').</small>
                            <small ng-show="userAccountForm.passwordInput.$error.minlength" class="help-block">Password is too short.</small>
                        </div>
                    </div>
                    <div class="form-group fg-float">
                        <div class="col-md-10 col-md-offset-1">
                            <label class="checkbox"><input type="checkbox" name="subscription" id="subscription"><i></i>I want to receive news and  special offers</label>
                            <label class="checkbox"><input type="checkbox" name="terms" id="terms"><i></i>I agree with the Terms and Conditions</label>
                        </div>
                    </div>
                    <div class="form-group fg-float">
                        <div class="col-md-10 col-md-offset-1">
                            <button value="submit" id="createNewUserButton" class="btn btn-light-dark pull-right" ng-disabled="userAccountForm.$invalid">Create Account</button>
                        </div>
                    </div>

                </form>

            </div>
        </div><!--col end-->
        <div class="col-md-6">
            <div class="login-register-aside-box">
                <h3>Already have an account!</h3>
                <p>
                    If you already have an account, please login below!
                </p>
                <br>
                <a href='login.html' class="btn btn-light-dark btn-lg">Login Now</a>
            </div>
        </div>
    </div>
</div>
<div class="space-60"></div>

@section Scripts{
    <script type="text/javascript">

        (function () {
            "use strict";

            angular.module(APPNAME)
                 .factory("$registrationService", userService);

            userService.$inject = ["$http"];

            function userService($http) {
                var svc = this;
                //svc.getUsers = _getUsers;
                svc.insertNewUser = _insertNewUser;

                console.log("angular service working");

                //function _getUsers(success, error) {
                //    var request = $http({
                //        method: "get"

                //       , url: "/api/users/get"
                //        , param: null
                //    });
                //    return (request.then(success, error));
                //}
                function _insertNewUser(data) {
                    return $http.post("/api/public/add", data);
                    //var request = $http({
                    //    method: "post"
                    //    , url: "/api/public/add"
                    //    , data: data
                    //    , param: null
                    //});
                    //return (request.then(data, success, error));
                }
                return svc;
            }
        })();

        (function () {
            "use strict"
            angular.module(APPNAME)
            .controller("registerController", RegisterController)

            RegisterController.$inject = ['$scope', '$registrationService'];
            function RegisterController(
                $scope,
                $registrationService
                //$baseController
                ) {
                var vm = this;
                vm.newUserInfo = {};

                vm.$scope = $scope;
                vm.onCreateUserSubmit = _onCreateUserSubmit;
                vm.$registrationService = $registrationService;

                //firstname, last name, phone email password

                vm.message = "Hello World";
                vm.regex = /(?=.*[!@@#\$%\^&\*])(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])/;
                vm.phoneRegex = /^[0-9]*$/;
                vm.userId = null;

                render();

                function render() {

                }

                function _postNewUser() {

                    //    $http({
                    //        method: 'post',
                    //        url: '/api/public/add',
                    //        data: vm.newUserInfo
                    //    }).then(function (response) {
                    //        if (response.data && response.data.items) {
                    //            $response_items = response.data.items;
                    //        }
                    //    }, function myError(response) {
                    //        console.log(response.statusText);
                    //    });
                    //}

                    //vm.$registrationService.insertNewUser(vm.newUserInfo, _insertNewUserSuccess, _insertNewUserError)

                    var payload = vm.newUserInfo;
                    vm.$registrationService.insertNewUser(payload)
                        .then(function mySuccess(response) {
                            console.log("Full Response", response);
                            if (response.data.IsSuccessful == true) {
                                //window.location.href = "/home/index"
                                console.log("Test Redirect");
                            }

                        }, function myError(response) {
                            console.log("Error Response", response);
                            console.log(response.statusText);
                        });
                }

                function _insertNewUserSuccess(data) {
                    console.log('Success Data: ', data);
                }

                function _insertNewUserError(jqXhr, error) {
                    console.log(jqXhr);
                }

                function _onCreateUserSubmit() {
                    _postNewUser();
                }


            }
        })();

    </script>





}

